<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/static/icon/favicon.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/landing.css"
    />

    <title><%= title %></title>
  </head>

  <body>
    <div id="bg-img"></div>
    
    <div class="wrapper">
      <header>
        <h1>Bienvenidos</h1>
        <p>DailyBites</p>
      </header>
      
      <nav>
        <a href="/shop">Soy estudiante</a>
        <a href="/login">Soy staff</a>
      </nav>
    </div>
  </body>
</html>
